
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
myproject/.vs/myproject/FileContentIndex/0e9fd58f-14d6-4521-afc1-2cb4ee39292e.vsidx
myproject/.vs/myproject/FileContentIndex/5256a8d5-efff-4040-ac21-c302c566f6d5.vsidx
myproject/.vs/myproject/FileContentIndex/78e305c4-0fbe-400a-8289-15164d0d8c16.vsidx
myproject/.vs/myproject/FileContentIndex/acda670a-67b9-467b-8240-da5cf6ad1704.vsidx
myproject/.vs/myproject/FileContentIndex/read.lock
myproject/.vs/myproject/v17/.suo
myproject/myproject.sln
myproject/myproject/App.config
myproject/myproject/myproject.csproj
myproject/myproject/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
myproject/myproject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
myproject/myproject/obj/Debug/myproject.csproj.AssemblyReference.cache
myproject/myproject/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
myproject/myproject/obj/Release/myproject.csproj.AssemblyReference.cache
myproject/myproject/Program.cs
myproject/myproject/Properties/AssemblyInfo.cs
